* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

#checkout {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #765c3d;
}

#checkout .title {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}

#nav {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

#nav-link {
  color: #fdfdfd !important;
}

.cardHighlight {
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 20);
  transition: box-shadow 0.2s ease-in-out;
}

.cardHighlight:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#contact2 #form {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #765c3d;
}

#contact2 .btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.table .button {
  display: flex;
  justify-content: center;
}
